@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&family=Ubuntu:wght@300&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
}

select:focus {
    outline: none;
}

@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee 100s linear infinite;
  }
  
input {
  @apply px-4 py-2 border border-gray-300 rounded-md  ring-1 ring-neutral-600 focus:outline-none focus:ring-1 focus:ring-neutral-600 focus:border-neutral-600 text-sm text-neutral-300;
}

input:focus {
  @apply ring-2 ring-offset-2 ring-offset-neutral-100 ring-neutral-600 text-sm text-neutral-400;
}

input::placeholder {
  @apply text-neutral-500 text-sm;
}

