@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&family=Ubuntu:wght@300&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
}

select:focus {
    outline: none;
}

@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee 100s linear infinite;
  }
  

